<p>Hey {{name}},</p>
<p>This email sent from
    <b>suport.myteam@gmail.com</b>
    to confirm reset password</p>
<p>
    <a href='{{url}}'>Visit reset password page</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>